[Unit]
Description=Configure Docker group
Before=docker.socket docker.service
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/etc/docker/docker-useradd
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
