[Unit]
Description=Create Ollama user on system boot
Before=ollama.service

[Service]
Type=oneshot
ExecStart=/usr/etc/ollama/ollama-useradd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
