[Unit]
Description=Ollama Service
After=network-online.target ollama-boot.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ollama serve
User=ollama
Group=ollama
Restart=always
RestartSec=3
Environment="PATH=/usr/bin:/bin"
StateDirectory=ollama
StateDirectoryMode=0755
ConfigurationDirectory=ollama
ConfigurationDirectoryMode=0755

[Install]
WantedBy=multi-user.target
