[Unit]
Description=Create input group on system boot
Before=libinput-gestures.service

[Service]
Type=oneshot
ExecStart=/usr/etc/input/input-groupadd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
