[Unit]
Description=Create input group on user session start
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/etc/input/input-groupadd
RemainAfterExit=yes

[Install]
WantedBy=default.target
