[Unit]
Description=An ollama container
After=network-online.target

[Container]
Image=docker.io/ollama/ollama:latest
AutoUpdate=registry
ContainerName=ollama
Network=ollama.network
Volume=ollama.volume:/root/.ollama
PublishPort=11434:11434
PodmanArgs=--userns=keep-id
PodmanArgs=--group-add=keep-groups
PodmanArgs=--ulimit=host
PodmanArgs=--security-opt=label=disable
PodmanArgs=--cgroupns=host

[Service]
Restart=always
TimeoutStartSec=60
ExecStartPre=/bin/systemctl --user enable podman.socket
ExecStartPre=-mkdir -p %h/.ollama

[Install]
WantedBy=multi-user.target
