[Unit]
Description=Create buckets
Wants=minio.container

[Container]
Image=minio/mc:latest
AutoUpdate=registry
ContainerName=createbuckets
Command=/bin/sh -c "
  /usr/bin/mc alias set myminio http://minio:9000 admin admin;
  /usr/bin/mc mb myminio/mybucket;
  /usr/bin/mc policy set public myminio/mybucket;
  exit 0;
"
Network=vpcbr.network

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
