<%page/>

## This template ensures all important Anaconda installation screens are enabled and accessible
## It focuses on the sections shown in the screenshot: LOCALIZATION, SYSTEM, and USER SETTINGS
## No default values are pre-selected - users will make all configuration choices during installation

## Configure Anaconda to ensure all important installation screens are shown
append etc/anaconda/conf.d/anaconda.conf "[Installation Interface]"
append etc/anaconda/conf.d/anaconda.conf "standalone_installers = []"
append etc/anaconda/conf.d/anaconda.conf "hidden_spokes = []"
append etc/anaconda/conf.d/anaconda.conf "default_spoke_priority = 0"

## Ensure LOCALIZATION section is fully accessible (Keyboard, Language, Time & Date)
append etc/anaconda/conf.d/anaconda.conf "[Localization]"
append etc/anaconda/conf.d/anaconda.conf "localization_enabled = True"

## Ensure SYSTEM section is fully accessible (Installation Destination, Network & Host Name)
## Network settings (for WiFi setup)
append etc/anaconda/conf.d/anaconda.conf "[Network]"
append etc/anaconda/conf.d/anaconda.conf "default_on = True"
append etc/anaconda/conf.d/anaconda.conf "nm_controlled = True"

## Storage configuration (Installation Destination)
append etc/anaconda/conf.d/anaconda.conf "[Storage]"
append etc/anaconda/conf.d/anaconda.conf "can_initialize_label = True"
append etc/anaconda/conf.d/anaconda.conf "can_change_type = True"
append etc/anaconda/conf.d/anaconda.conf "can_change_root = True"

## Ensure USER SETTINGS section is fully accessible (Root Password, User Creation)
append etc/anaconda/conf.d/anaconda.conf "[User Interface]"
append etc/anaconda/conf.d/anaconda.conf "custom_configuration = True"
